@import url('http://fonts.cdnfonts.com/css/ballpark');
/* https://www.cdnfonts.com/ballpark.font */

.App {
  text-align: center;
}

.active {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #206420;
}
.not{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(189, 252, 222);
  color: rgb(0, 163, 141);
  font-size:medium;
  font-weight: bold;
  padding: 15px;

}
a:visited{
  color: rgb(9, 6, 179);
  }
a:hover{
  color:rgb(117, 2, 2);
  cursor: pointer;
}
